# AWS access key used to create infrastructure
aws_access_key = "<key>"

# AWS secret key used to create AWS infrastructure
aws_secret_key = "<key>"

# AWS region used for all resources
aws_region = "eu-west-1"

# SUSE Manager Subscription Key
suse_manager_subscription = "<key>"
